pipeline/pg_main_json.json
{
	"name": "pg_main_json",
	"properties": {
		"activities": [
			{
				"name": "Get Listings Metadata-Web",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{concat('https://realty-in-ca1.p.rapidapi.com/', 'properties/list-residential?LatitudeMax=', '51.2124247', '&LatitudeMin=','50.8428219', '&LongitudeMax=', '-113.8598962', '&LongitudeMin=', '-114.3157738', '&CurrentPage=', '1', '&RecordsPerPage=', '50', '&SortOrder=', 'A', '&SortBy=', '6', 'TransactionTypeId=', '2', '&PropertySearchTypeId=', '1', '&PropertyTypeGroupId=', '1', '&BuildingTypeId=', '1')}",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"X-RapidAPI-Key": "d5309c84ebmsh9778152a2a89736p1bad24jsn77dceff0b8aa",
						"X-RapidAPI-Host": "realty-in-ca1.p.rapidapi.com"
					},
					"linkedServices": [
						{
							"referenceName": "ls_rest_api_realtorCa",
							"type": "LinkedServiceReference"
						}
					]
				}
			},
			{
				"name": "Set NumberOfRecords",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Listings Metadata-Web",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_number_of_records",
					"value": {
						"value": "@replace(string(activity('Get Listings Metadata-Web').output.Paging.TotalRecords), ': ','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set NumberofPages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set NumberOfRecords",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_number_of_pages",
					"value": {
						"value": "@if(\n    equals(\n            mod(int(variables('v_number_of_records')), 50),\n        0),\n    string(div(int(variables('v_number_of_records')), 50)),\n    string(add(div(int(variables('v_number_of_records')),50), 1))\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DoUntilZeroPagesRemain",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set NumberofPages",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(variables('v_current_page')), int(variables('v_number_of_pages')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Residential Listings-House",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{concat('properties/list-residential?LatitudeMax=', '51.2124247', '&LatitudeMin=','50.8428219', '&LongitudeMax=', '-113.8598962', '&LongitudeMin=', '-114.3157738', '&CurrentPage=', '1', '&RecordsPerPage=', '50', '&SortOrder=', 'A', '&SortBy=', '6', 'TransactionTypeId=', '2', '&PropertySearchTypeId=', '1', '&PropertyTypeGroupId=', '1', '&BuildingTypeId=', '1')}"
								},
								{
									"name": "Destination",
									"value": "realtor/raw/house/listing.json"
								}
							],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['Id']"
											},
											"sink": {
												"path": "listing_id"
											}
										},
										{
											"source": {
												"path": "['MlsNumber']"
											},
											"sink": {
												"path": "mls_number"
											}
										},
										{
											"source": {
												"path": "['PublicRemarks']"
											},
											"sink": {
												"path": "public_remarks"
											}
										},
										{
											"source": {
												"path": "['Building']['BathroomTotal']"
											},
											"sink": {
												"path": "bathrooms"
											}
										},
										{
											"source": {
												"path": "['Building']['Bedrooms']"
											},
											"sink": {
												"path": "bedrooms"
											}
										},
										{
											"source": {
												"path": "['Building']['SizeInterior']"
											},
											"sink": {
												"path": "size_interior"
											}
										},
										{
											"source": {
												"path": "['Building']['StoriesTotal']"
											},
											"sink": {
												"path": "floors"
											}
										},
										{
											"source": {
												"path": "['Building']['Type']"
											},
											"sink": {
												"path": "building_type"
											}
										},
										{
											"source": {
												"path": "['Individual'][0]['IndividualID']"
											},
											"sink": {
												"path": "agent_id"
											}
										},
										{
											"source": {
												"path": "['Individual'][0]['Name']"
											},
											"sink": {
												"path": "agent_name"
											}
										},
										{
											"source": {
												"path": "['Individual'][0]['Organization']['OrganizationID']"
											},
											"sink": {
												"path": "org_id"
											}
										},
										{
											"source": {
												"path": "['Individual'][0]['Organization']['Name']"
											},
											"sink": {
												"path": "org_name"
											}
										},
										{
											"source": {
												"path": "['Individual'][0]['Organization']['Address']['AddressText']"
											},
											"sink": {
												"path": "org_address"
											}
										},
										{
											"source": {
												"path": "['Individual'][0]['Organization']['OrganizationType']"
											},
											"sink": {
												"path": "org_type"
											}
										},
										{
											"source": {
												"path": "['Individual'][0]['Position']"
											},
											"sink": {
												"path": "agent_position"
											}
										},
										{
											"source": {
												"path": "['Property']['Price']"
											},
											"sink": {
												"path": "listing_price"
											}
										},
										{
											"source": {
												"path": "['Property']['Type']"
											},
											"sink": {
												"path": "property_type"
											}
										},
										{
											"source": {
												"path": "['Property']['Address']['AddressText']"
											},
											"sink": {
												"path": "property_address"
											}
										},
										{
											"source": {
												"path": "['Property']['Parking'][0]['Name']"
											},
											"sink": {
												"path": "parking_name"
											}
										},
										{
											"source": {
												"path": "['Property']['ParkingSpaceTotal']"
											},
											"sink": {
												"path": "parking_spaces_total"
											}
										},
										{
											"source": {
												"path": "['Property']['TypeId']"
											},
											"sink": {
												"path": "property_type_id"
											}
										},
										{
											"source": {
												"path": "['Property']['OwnershipType']"
											},
											"sink": {
												"path": "property_ownership_type"
											}
										},
										{
											"source": {
												"path": "['Property']['AmmenitiesNearBy']"
											},
											"sink": {
												"path": "amenities_nearby"
											}
										},
										{
											"source": {
												"path": "['Property']['ConvertedPrice']"
											},
											"sink": {
												"path": "converted_price"
											}
										},
										{
											"source": {
												"path": "['Property']['ParkingType']"
											},
											"sink": {
												"path": "parking_type"
											}
										},
										{
											"source": {
												"path": "['Property']['PriceUnformattedValue']"
											},
											"sink": {
												"path": "price_unformatted"
											}
										},
										{
											"source": {
												"path": "['Land']['SizeTotal']"
											},
											"sink": {
												"path": "land_size_total"
											}
										},
										{
											"source": {
												"path": "['Land']['SizeFrontage']"
											},
											"sink": {
												"path": "land_size_frontage"
											}
										},
										{
											"source": {
												"path": "['PostalCode']"
											},
											"sink": {
												"path": "postal_code"
											}
										},
										{
											"source": {
												"path": "['ProvinceName']"
											},
											"sink": {
												"path": "province_state"
											}
										},
										{
											"source": {
												"path": "['RelativeDetailsURL']"
											},
											"sink": {
												"path": "relative_rul"
											}
										},
										{
											"source": {
												"path": "['StatusId']"
											},
											"sink": {
												"path": "listing_status_id"
											}
										},
										{
											"source": {
												"path": "['OpenHouseInsertDateUTC']"
											},
											"sink": {
												"path": "open_house_inserted_date_utc"
											}
										},
										{
											"source": {
												"path": "['InsertedDateUTC']"
											},
											"sink": {
												"path": "listing_inserted_date_utc"
											}
										},
										{
											"source": {
												"path": "['TimeOnRealtor']"
											},
											"sink": {
												"path": "time_on_realtor"
											}
										},
										{
											"source": {
												"path": "$['GroupingLevel']"
											},
											"sink": {
												"path": "grouping_level"
											}
										}
									],
									"collectionReference": "$['Results']"
								}
							},
							"inputs": [
								{
									"referenceName": "ds_REST__listings",
									"type": "DatasetReference",
									"parameters": {
										"latMax": "51.2124247",
										"latMin": "50.8428219",
										"lngMax": "-113.8598962",
										"lngMin": "-114.3157738",
										"currentPage": {
											"value": "@variables('v_current_page')",
											"type": "Expression"
										},
										"recordsPerPage": "50",
										"sortOrder": "A",
										"sortBy": "6",
										"transactionTypeId": "2",
										"propertySearchTypeId": "1",
										"propertyTypeGroupId": "1",
										"buildingTypeId": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ADLS_JSON_realtor_listings",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@concat('listings_house_page_', variables('v_current_page'),'.json')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set CurrentPage",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Residential Listings-House",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_current_page",
								"value": {
									"value": "@string(add(int(variables('v_initial_page')), 1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Initial equal to Current Page",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set CurrentPage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_initial_page",
								"value": {
									"value": "@variables('v_current_page')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set Initial equal to Current Page",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"v_number_of_pages": {
				"type": "String"
			},
			"v_number_of_records": {
				"type": "String"
			},
			"v_current_page": {
				"type": "String",
				"defaultValue": "1"
			},
			"v_initial_page": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"folder": {
			"name": "_older"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-09T01:13:32Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}