pipeline/pl_single_activity_pg.json
{
	"name": "pl_single_activity_pg",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_current_date",
					"value": {
						"value": "@string(dayOfMonth(utcNow()))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_rapidapi_key",
					"value": {
						"value": "@if(equals(variables('v_current_date'), '18'), 'today', 'not-today')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_rapidapi_key": {
				"type": "String"
			},
			"v_current_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pg"
		},
		"annotations": []
	}
}